    // Color theme
    $bg: #272727;
    $lightBg: #747474;
    $color1: #FFE400;
    $color2: #FF652F;
    $color3: #14A76C;
    $lightText: #E5E5E5;
    // fonts
    /*********************************** element ***********************************/
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: $bg;
        font-family: 'Saira';
        // padding: 0 170px;
    }
    
    h1 {
        // font-family: 'Merriweather', serif;
        font-family: 'Averia Serif Libre', cursive;
        font-size: 100px;
        color: $color1;
    }
    
    h2 {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 70px;
        color: $color1;
    }
    
    h3 {
        font-size: 40px;
        font-family: Saira;
        font-style: normal;
        font-weight: normal;
        line-height: 63px;
    }
    
    h6 {
        font-size: 20px;
        font-family: Saira;
        font-style: normal;
        font-weight: bold;
        color: #E5E5E5;
        // line-height: 63px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .yellow {
        color: $color1;
    }
    
    .green {
        color: $color3;
    }
    
    #main {
        padding: 20px;
        width: 70%;
        margin: auto;
        // box-shadow: -1px -1px 10px 1px rgba(#fff, 0.3);
    }
    
    .common-flex {
        display: flex;
    }
    
    // Title
    #title {
        // margin: auto;
        color: $color2;
        // display: flex;
        img {
            height: 486px;
            width: 486px;
        }
    }
    
    #skills {
        .box {
            height: 442px;
            width: 290px;
            align-items: center;
            text-align: center;
            padding: 30px;
            img {
                width: 200px;
                height: 125px;
            }
            .text {
                text-align: start;
                color: #E5E5E5;
                margin-top: 60px;
                ul {
                    padding: 20px;
                }
            }
        }
        .shadowY {
            border: 1px solid $color1;
            box-sizing: border-box;
            box-shadow: -1px -1px 10px 1px $color1;
        }
        .shadowG {
            border: 1px solid $color3;
            box-sizing: border-box;
            box-shadow: -1px -1px 10px 1px $color3;
        }
        .shadowO {
            border: 1px solid $color2;
            box-sizing: border-box;
            box-shadow: -1px -1px 10px 1px $color2;
        }
        .bottom {
            align-self: end;
        }
    }
    
    //projects
    @mixin theme-color($color) {
        border: 3px solid $color;
        color: $color;
    }
    
    @mixin shadow-color($color) {
        border: 5px solid $color;
        box-shadow: 0 4px 8px 0 rgba($color, 1), 0 6px 20px 0 rgba($color, 0.66);
    }
    
    .project-items {
        // height: 300px;
        display: flex;
        justify-content: space-between;
        .item {
            height: 300px;
            width: 300px;
            // @include theme-color($color1);
            // border: 3px solid #FFE400;
            box-sizing: border-box;
        }
    }
    
    .projectTitle {
        margin-bottom: 30px;
    }
    
    .projectTitleOnly {
        // color: $color1;
        // @include theme-color($color1);
        margin-bottom: 30px;
        align-self: flex-end;
    }
    
    .projectImg {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
        /* background-image: url("../images/projects/drumSet.png"); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.66);
        margin: 30px auto;
        border-radius: 10px;
    }
    
    .img__description_layer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }
    
    .projectImg:hover {
        // @include shadow-color($color1);
    }
    
    .projectImg:hover .projectTitleOnly {
        display: none;
    }
    
    .projectImg:hover .img__description_layer {
        visibility: visible;
        opacity: 1;
        transition: .5s;
        transform: translatey(-1em);
    }
    
    // .img__description {
    //     transition: 2s;
    //     transform: translateY(2em);
    // }
    .projectImg:hover .img__description {
        transform: translateY(0);
    }
    
    .projectTitle {
        // color: $color1;
        font-size: 20px;
        font-weight: bold;
    }
    
    .projectDesc {
        color: $lightText;
    }
    
    .projectIcon {
        font-size: 40px;
        margin: 5% 3%;
        color: $lightText;
    }
    
    // .projectIcon:hover {
    //     color: $color1;
    // }
    .noBorder {
        border: 0;
    }
    
    @media(max-width: 767px) {
        /* .projectImg {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  } */
        .projectIcon {
            font-size: 30px;
        }
    }
    
    .project-websites {
        .project-items {
            // height: 300px;
            .item {
                @include theme-color($color1);
                // border: 3px solid #FFE400;
                box-sizing: border-box;
            }
        }
        .projectTitleOnly {
            color: $color1;
            // @include theme-color($color1);
        }
        .projectImg:hover {
            @include shadow-color($color1);
        }
        .projectTitle {
            color: $color1;
        }
        .projectIcon:hover {
            color: $color1;
        }
    }
    
    .project-apps {
        .project-items {
            // height: 300px;
            .item {
                @include theme-color($color3);
                // border: 3px solid #FFE400;
                box-sizing: border-box;
            }
        }
        .projectTitleOnly {
            color: $color3;
            // @include theme-color($color3);
        }
        .projectImg:hover {
            @include shadow-color($color3);
        }
        .projectTitle {
            color: $color3;
        }
        .projectIcon:hover {
            color: $color3;
        }
    }