/*********************************** element ***********************************/
html{
  scroll-behavior: smooth;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 100px;
  color: #1D3557;
}

h2{
  color: #1D3557;
  font-size: 90px;
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Pangolin', cursive;
}

<<<<<<< HEAD
h3{
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

p{
  font-size: 20px;
  font-family: 'Roboto', serif;
}

nav{
  margin-bottom: 5%;
=======
section{
 text-align: center;
 font-family: 'Roboto';
 color: #CFFA26;
 margin-top: 50px;
 width: 98%;
 margin : auto;
}

h1{
  font-size: 4rem;
>>>>>>> parent of 7b83e1a... color scheme changes
}

section{
  text-align: center;
  margin-bottom: 50px;
  /* padding: 0 15%; */
}

<<<<<<< HEAD
table{
  display: inline;
  /* width: auto; */
}

/*********************************** Bootstrap ***********************************/

.btn-outline-dark{
  color: #E63946;
  border: #E63946 1px solid;
=======
h2{
  font-size: 3.75rem;
  margin: 50px 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
>>>>>>> parent of 7b83e1a... color scheme changes
}

.btn-outline-dark:hover{
  background-color: #E63946;
  border: #E63946 1px solid;
  color: #A8DADC;
  
}

.btn-large{
  width: 100%;
  font-size: 30px;
}

<<<<<<< HEAD
.btn-primary{
  background-color: #A8DADC;
  color: #1D3557;
  border: 0;
}

.btn-primary:hover{
  background-color: #1D3557;
  color: #E63946;
=======
hr{
  border-top: 10px #f1f1f1 solid;
  border-style: dotted;
  width: 50%;
  margin: 50px auto;
  color: #343131;
  
>>>>>>> parent of 7b83e1a... color scheme changes
}

.btn-dark{
  background-color: transparent;
  border: 0;
  color: #E63946;
}
.btn-dark:hover{
  background-color: transparent;
  color: #1D3557;
}

<<<<<<< HEAD
.btn-light{
  background-color: transparent;
  border: 0;
  color: #A8DADC;
}
.btn-light:hover{
  background-color: transparent;
  color: #E63946;
}

=======
/* title */
.bg-img {
  background-image: url("../images/960x0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  height: 100%;
>>>>>>> parent of 7b83e1a... color scheme changes

.slideShow{
  height: 500px;
}

<<<<<<< HEAD
.nav-link{
  color: #FFF;
}

.ctBtn{
  margin: auto 20px;
}

.nav-item{
  font-size: 2rem;
}

.someBtn{
  margin : auto 0;
}

.container-fluid{
  padding:0 15% 5px; 
}

.col{
  display: inline;
}

/************************************ TITLE section ************************************/


#title{
  background-color: #A8DADC;
  color: white;
  text-align: left;
  
}

.brand{
  width: 100px;
  height: 100px;
}
.brandTitle{
  display: none;
}

.ml-auto{
  margin-left: auto;
}

.btnRound{
  border-radius: 20px;

}

.infoMe{
  margin-top: 20%;
=======
/* bootstrap changes */
.btn-outline-light{
  color:#CFFA26;
  border: 0px;
}

.btn-outline-light:hover{
  color:#343131;
  background-color: #CFFA26;
}

/* icons */
/* i{
  color:#CFFA26;
  opacity: 2;
  font-size: 2rem;
} */

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #E6F8A2;
  /* font-weight: bold; */
  font-size : 90px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.me{
  color: #CFFA26;
  text-decoration: underline;
}

.btn-outline-warning{
  color: #CFFA26;
  border-color: #CFFA26;
}

.btn-outline-warning:hover{
  background-color: #CFFA26;
>>>>>>> parent of 7b83e1a... color scheme changes
}

.name{
  font-family: 'Pangolin', cursive;
  color: #E63946;
}
.meDesc{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #1D3557;
  line-height: 1.6;
}

@media(max-width: 768px){
  

  h1{
    font-size:60px
  }

  .meDesc{
    font-size: 30px;
  }

  .brand{
    width: 75px;
    height: 75px;
  }

  
}

<<<<<<< HEAD
/************************************* Skills section *************************************/


.skill-row {
  margin: 50px auto;
  /* width: 50%; */
  text-align: left;
  padding: 10px;
  overflow: hidden;
}

.skill-img1 {
  float: left;
  width: 20%;
  margin-right: 30px;
}
.skill-img2 {
  width: 20%;
  float: right;
  margin-left: 30px;
=======
 
.projects{
  height: 366px;
  width: 500px;
  border: #f1f1f1 solid 5px;
  margin: 30px auto;
  position: relative;
  background-image: url(../images/960x0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> parent of 7b83e1a... color scheme changes
}

.skillTitle{
  color: #E63946;
}
/* 
.img{
  height: auto;
} */

/************************************* projects section *************************************/
#projects{
  background-color: #A8DADC;
  padding: 3% 0px;
  margin-bottom: 0;
}

.projectTitle{
  margin-bottom: 30px;
}

.projectImg{
  width: 300px;
  height: 300px;
  /* background-image: url("../images/projects/drumSet.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.66);
  margin: 30px auto;
  border-radius: 10px;
}



.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
<<<<<<< HEAD
  background: rgba(168, 218, 220, 0.9);
  /* color: #682c0e; */
=======
  background: rgba(0,0,0, 0.8);
  color: #CFFA26;
>>>>>>> parent of 7b83e1a... color scheme changes
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.projectImg:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.projectImg:hover .img__description {
  transform: translateY(0);
}

.projectTitle{
  color: #E63946;
}

<<<<<<< HEAD
.projectDesc{
  color: #1D3557;
=======
.iconProject{
  font-size: 2rem;
  color: #fff;
>>>>>>> parent of 7b83e1a... color scheme changes
}

.projectIcon{
  font-size: 40px;
  margin:  5% 3% ;
}

.noBorder{
  border: 0;

<<<<<<< HEAD
}

@media(max-width: 767px){
  .projectImg {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }
 
  .projectIcon{
    font-size: 30px;
    
  }
=======
.box{
  border: #f1f1f1 solid 5px;
  padding: 10px;
>>>>>>> parent of 7b83e1a... color scheme changes
}

/* ************************ Contact ********************* */
#contact{
  background-color: #E63946;
  padding: 3% 0;
  margin-bottom: 0;
}
<<<<<<< HEAD
.contact{
  
  width: 60%;
  margin: 5% auto;
  
}

@media(max-width: 767px){
  .contact {
    width: 100%;
  }
}

.contactForm{
  border: 1px solid black;
}

.contactText{
  margin-top: 5%;
  color: #fff;
}

.form-group{
  margin: 0;
  
=======

.skill-rating{
  /* text-align: start; */
}
.skills{
  padding: 20px 0px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* visibility: hidden; */
>>>>>>> parent of 7b83e1a... color scheme changes
}

.input{
  background-color: #1D3557;
  border: 0;
  width: 100%;
  font-size: 20px;
  color: #A8DADC;
  padding: 0 3%;
  border-radius: 0;
  margin: 2px 0;
  
}

<<<<<<< HEAD
.input:focus{
  background-color: #1D3557;
  color: #A8DADC;
  border: 0;
  border-radius: 0;
  outline: none;
  
=======
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgba(207,250,38, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(207,250,38, 0.4);
  /* visibility: hidden; */
>>>>>>> parent of 7b83e1a... color scheme changes
}

.input::placeholder{
  color: lightgray;
}


/* foooter */
#footer{
  background-color: #1D3557;
  padding: 2%;
  margin-bottom: 0;
}

<<<<<<< HEAD
.footer{
  width: 50%;
  margin: 0 auto;
=======
.img-me{
  margin: auto;
  height: 100%;
  width: 100%;
  background-image: url("../images/front.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.2), 0 6px 20px 0 rgba(238, 231, 231, 0.19);
>>>>>>> parent of 7b83e1a... color scheme changes
}
@media(max-width: 768px){
  .footer{
    width: 100%;
  }

  #footer .container-fluid{
    padding: 0 0;
  }

  .col{
    padding: 0;
  }

  .col h3{
    font-size: 20px;
  }

}

<<<<<<< HEAD
.copyright{
  color: #E63946;
}
.credit{
  color:#727983;
=======
#social{
  margin: 30px 0px;
>>>>>>> parent of 7b83e1a... color scheme changes
}



/* to top button */
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#toTop:hover {
<<<<<<< HEAD
  background-color: #000;
  color: #A8DADC;
}

=======
  background-color: #CFFA26;
  color: #343131;
}
>>>>>>> parent of 7b83e1a... color scheme changes
