/*********************************** element ***********************************/
html{
  scroll-behavior: smooth;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 100px;
  color: #1D3557;
}

h2{
  color: #1D3557;
  font-size: 90px;
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Pangolin', cursive;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

p{
  font-size: 20px;
  font-family: 'Roboto', serif;
}

nav{
  margin-bottom: 5%;
}

section{
  text-align: center;
  margin-bottom: 50px;
  /* padding: 0 15%; */
}

table{
  display: inline;
  /* width: auto; */
}

/*********************************** Bootstrap ***********************************/

.btn-outline-dark{
  color: #E63946;
  border: #E63946 1px solid;
}

.btn-outline-dark:hover{
  background-color: #E63946;
  border: #E63946 1px solid;
  color: #A8DADC;
  
}

.btn-large{
  width: 100%;
  font-size: 30px;
}

.btn-primary{
  background-color: #A8DADC;
  color: #1D3557;
  border: 0;
}

.btn-primary:hover{
  background-color: #1D3557;
  color: #E63946;
}

.btn-dark{
  background-color: transparent;
  border: 0;
  color: #E63946;
}
.btn-dark:hover{
  background-color: transparent;
  color: #1D3557;
}

.btn-light{
  background-color: transparent;
  border: 0;
  color: #A8DADC;
}
.btn-light:hover{
  background-color: transparent;
  color: #E63946;
}


.slideShow{
  height: 500px;
}

.nav-link{
  color: #FFF;
}

.ctBtn{
  margin: auto 20px;
}

.nav-item{
  font-size: 2rem;
}

.someBtn{
  margin : auto 0;
}

.container-fluid{
  padding:0 15% 5px; 
}

.col{
  display: inline;
}

/************************************ TITLE section ************************************/


#title{
  background-color: #A8DADC;
  color: white;
  text-align: left;
  
}

.brand{
  width: 100px;
  height: 100px;
}
.brandTitle{
  display: none;
}

.ml-auto{
  margin-left: auto;
}

.btnRound{
  border-radius: 20px;

}

.infoMe{
  margin-top: 20%;
}

.name{
  font-family: 'Pangolin', cursive;
  color: #E63946;
}
.meDesc{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #1D3557;
  line-height: 1.6;
}

@media(max-width: 768px){
  

  h1{
    font-size:60px
  }

  .meDesc{
    font-size: 30px;
  }

  .brand{
    width: 75px;
    height: 75px;
  }

  
}

/************************************* Skills section *************************************/


.skill-row {
  margin: 50px auto;
  /* width: 50%; */
  text-align: left;
  padding: 10px;
  overflow: hidden;
}

.skill-img1 {
  float: left;
  width: 20%;
  margin-right: 30px;
}
.skill-img2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skillTitle{
  color: #E63946;
}
/* 
.img{
  height: auto;
} */

/************************************* projects section *************************************/
#projects{
  background-color: #A8DADC;
  padding: 3% 0px;
  margin-bottom: 0;
}

.projectTitle{
  margin-bottom: 30px;
}

.projectImg{
  width: 300px;
  height: 300px;
  /* background-image: url("../images/projects/drumSet.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.66);
  margin: 30px auto;
  border-radius: 10px;
}



.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(168, 218, 220, 0.9);
  /* color: #682c0e; */
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.projectImg:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.projectImg:hover .img__description {
  transform: translateY(0);
}

.projectTitle{
  color: #E63946;
}

.projectDesc{
  color: #1D3557;
}

.projectIcon{
  font-size: 40px;
  margin:  5% 3% ;
}

.noBorder{
  border: 0;

}

@media(max-width: 767px){
  .projectImg {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }
 
  .projectIcon{
    font-size: 30px;
    
  }
}

/* ************************ Contact ********************* */
#contact{
  background-color: #E63946;
  padding: 3% 0;
  margin-bottom: 0;
}
.contact{
  
  width: 60%;
  margin: 5% auto;
  
}

@media(max-width: 767px){
  .contact {
    width: 100%;
  }
}

.contactForm{
  border: 1px solid black;
}

.contactText{
  margin-top: 5%;
  color: #fff;
}

.form-group{
  margin: 0;
  
}

.input{
  background-color: #1D3557;
  border: 0;
  width: 100%;
  font-size: 20px;
  color: #A8DADC;
  padding: 0 3%;
  border-radius: 0;
  margin: 2px 0;
  
}

.input:focus{
  background-color: #1D3557;
  color: #A8DADC;
  border: 0;
  border-radius: 0;
  outline: none;
  
}

.input::placeholder{
  color: lightgray;
}


/* foooter */
#footer{
  background-color: #1D3557;
  padding: 2%;
  margin-bottom: 0;
}

.footer{
  width: 50%;
  margin: 0 auto;
}
@media(max-width: 768px){
  .footer{
    width: 100%;
  }

  #footer .container-fluid{
    padding: 0 0;
  }

  .col{
    padding: 0;
  }

  .col h3{
    font-size: 20px;
  }

}

.copyright{
  color: #E63946;
}
.credit{
  color:#727983;
}



/* to top button */
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#toTop:hover {
  background-color: #000;
  color: #A8DADC;
}

